body{
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding-top: .5em;
    padding-bottom: 3em;
    text-align: center;
    background-color: #66ff66;
    color: #0004ff;
}

main{
    padding-top: 1em;
    padding-left: 2em;
    margin-left: 160px;
    background-color: #66ff66;
    display: block;
}

main ul{
    list-style-type: circle;
}

nav a{
    text-decoration: none;
}

nav{
    padding-top: 2em;
    float: left;
    font-weight: bold;
    width: 160px;
    text-align: center;
    color: #0004ff;
    font-size: 110%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

footer{
    margin-left: 160px;
    text-align: center;
    background-color: #66ff66;
}

h1{
    margin-bottom: 0;
}

h2{
    color: #0004ff;
}

h3{
    color: #000000;
}

.companyname{
    color: #0004ff;
}

* {
    box-sizing: border-box;
}

#wrapper{
    background-color: #66ff66;
    box-shadow: 10px 10px 10px #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: .5px solid #000000;
    background-image: linear-gradient(to bottom, #66ff66, #cccccc);
    padding-top: 2em;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #ffffff;
}

#footermainmerge{
    background-image: linear-gradient(to bottom, #66ff66, #cccccc);
}

table{
    border: 2px solid #000000;
    border-collapse: collapse;
    padding-right: 3em;
    margin-right: 2.5em;
    background-color: #e47f3c;
}

td, th{
    padding: .5em;
    border: 2px solid #000000;
}

tr:nth-of-type(odd){
    background-color: #ff9029;
}

.tablelist{
    font-size: 75%;
    margin-left: auto;
}

label{
	float: left;
	display: block;
	text-align: right;
	width: 140px;
	padding-right: 5px;
}

input, textarea{
	display: block;
	display: block;
	margin-bottom: 20px;
}

input[type="submit"]{
	margin-left: 140px;
}

.img{
    padding-left: 3em;
    padding-top: 1em;
}

.p{
    padding-right: 5em;
}